## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## SQLite DB (se genera automáticamente)
*.db
*.db-shm
*.db-wal

## Visual Studio
.vs/
*.rsuser
*.csproj.user

## Rider
.idea/

## OS
Thumbs.db
.DS_Store

## Build
publish/
_temp/

*.pdf
*.xlsx

# PDFs generados
SILF.App/Assets/Images/Liquidacion_*.pdf
SILF.App/Assets/Images/ReciboAnticipo_*.pdf
